.filters {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    margin-block-start: 5%;
    flex-wrap: wrap;
}

.button-filters {
    color: #74767e;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    background-color: #efeff0;
    padding: 3px 12px;
    border: none;
    border-radius: 50px;
}

.filter-genre {
    margin: 5px;
    text-align: initial;
    height: 150px;
    min-width: 320px;
}

.selector-filter{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-top: 10px;

}


@media screen and (max-width: 414px) {
    .filter-genre {
        margin-inline-start: 0px !important;
    }
}


@media screen and (max-width: 1520px) {
    .filter-genre {
        margin-block-start: 0px;
    }
}

.bottomLine {
    border-bottom: #efeff0 3px solid;
    position: absolute;
    width: var(--width);
    top: var(--top);
    left: var(--left);
    transition: var(--transition);
    opacity: var(--opacity);

}

.genre-image {
    height: 3vw;
    min-height: 60px;
    padding: 10px;
    background: white;
    border-radius: 50px;
    margin-inline-end: 15px;
    cursor: pointer
}