.info-no-book {
    display: flex;
    color: white;
    width: 50%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 3px solid white;
}


.info-book {
    display: flex;
    color: white;
    width: 50%;
    border-left: 3px solid white;
    flex-direction: column;
    justify-content: center;
}

.info-book h2 {
    margin-bottom: 40px;
}

@media screen and (min-width: 862px) {
    .info-book h2 {
        width: 50vw;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 862px) {
    .section-cover {
        margin-left: 0px !important;
        row-gap: 20px;
    }
    .info-no-book h2 {
        margin-left: 0px !important;
    }
}

.description-book {
    flex-basis: 0;
    flex-grow: 0.9;
}

@keyframes slideAndScale {
    0% {
        transform: translateX(-100%) scale(0.5);
    }

    25% {
        transform: translateX(-75%) scale(0.6);
    }

    50% {
        transform: translateX(-50%) scale(0.7);
    }

    75% {
        transform: translateX(-25%) scale(0.9);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

.animated-image {
    animation: slideAndScale 0.5s ease-in;
}

@keyframes slideUP {
    0% {
        transform: translateY(100%);
    }

    25% {
        transform: translateY(75%);
    }

    50% {
        transform: translateY(50%);
    }

    75% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(0);
    }
}

.animated-text {
    animation: slideUP 0.5s ease-in;
}

.section-cover {
    display: flex;
    height: 80%;
    width: 100%;
    margin-left: 3vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-book-img {
    width: 15vw;
    min-width: 250px;
}

.info-book-aside {
    width: 100%;
    text-align: initial;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:1728px) {
    .grid-container {
        justify-content: center !important;
    }

    .info-book-text {
        font-size: clamp(16px, 1.2vw, 2rem) !important;
    }
}