.info-no-book {
    display: flex;
    color: white;
    width: 50%;
    min-height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.info-book {
    display: flex;
    color: white;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    margin-block: auto;
    align-items: center;
}


@media screen and (min-width: 1147px) {
    .info-book h2 {
        width: 50vw;
    }

}

@media screen and (max-width: 1147px) {

    .info-no-book {
        margin-left: 0px !important;
        width: 100%;
    }

    .info-book {
        height: 650px;
        justify-content: space-evenly;
    }
}


.info-book-text{
    font-weight: 400;
}


.animated-text {
    animation: slideUP 0.5s ease-in;
}



.info-book-img {
    width: 15vw;
    min-width: 250px;
}

.info-book-aside {
    width: 90%;
    text-align: initial;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media screen and (max-width:1728px) {
    .grid-container {
        justify-content: center !important;
    }

    .animated-text {
        animation: fadeIn 0.5s ease-in !important;
    }


    .animated-image {
        animation: fadeIn 0.5s ease-in !important;
    }

    .info-book-text {
        font-size: clamp(16px, 1.2vw, 2rem) !important;
    }
}


@keyframes slideAndScale {
    0% {
        transform: translateX(-100%) scale(0.5);
    }

    25% {
        transform: translateX(-75%) scale(0.6);
    }

    50% {
        transform: translateX(-50%) scale(0.7);
    }

    75% {
        transform: translateX(-25%) scale(0.9);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

.animated-image {
    animation: slideAndScale 0.5s ease-in;
}

@keyframes slideUP {
    0% {
        transform: translateY(100%);
    }

    25% {
        transform: translateY(75%);
    }

    50% {
        transform: translateY(50%);
    }

    75% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}